
.rectangle-172 {
  background: #63599d;
  border-radius: 2.125rem;
  width: 24.005rem;
  height: 42.671875rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-2 {
  background: #382f50;
  border-radius: 0rem 0rem 2.5rem 2.5rem;
  width: 23.983125rem;
  height: 4.413125rem;
  position: absolute;
  left: 0.004375rem;
  top: 38.246875rem;
  box-shadow: 0rem 0.25rem 3.5625rem -0.6875rem rgba(90, 93, 95, 1);
}
.div2 {
  color: #aaa9b3;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 0.995625rem;
  top: 40.453125rem;
  width: 1.215rem;
  height: 0.67125rem;
}
.div3 {
  color: #aaa9b3;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 6.17625rem;
  top: 40.453125rem;
  width: 2.07875rem;
  height: 0.67125rem;
}
.div4 {
  color: #aaa9b3;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 11.548125rem;
  top: 40.453125rem;
  width: 2.20625rem;
  height: 0.67125rem;
}
.div5 {
  color: #aaa9b3;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 16.920625rem;
  top: 40.453125rem;
  width: 2.3025rem;
  height: 0.67125rem;
}
.div6 {
  color: #aaa9b3;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 22.005rem;
  top: 40.453125rem;
  width: 1.215rem;
  height: 0.67125rem;
}

.rectangle-173 {
  background: #5c7ada;
  border-radius: 2.125rem;
  width: 24.005rem;
  height: 11.12375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}
.mask-group {
  width: 4.476875rem;
  height: 4.476875rem;
  position: static;
}
.ellipse-21 {
  background: #281446;
  border-radius: 50%;
  border-style: solid;
  border-color: #fffcfc;
  border-width: 0.0625rem;
  opacity: 0.8999999761581421;
  width: 4.476875rem;
  height: 4.476875rem;
  position: absolute;
  left: 1.251875rem;
  top: 3.04rem;
}
.touxiang {
  width: 5.75rem;
  height: 5.65rem;
  position: absolute;
  left: 1.251875rem;
  top: 2.43875rem;
  object-fit: cover;
  border-radius: 50%; /* 将图像显示为圆形 */
}
.group-255 {
  width: 0.7075rem;
  height: 1.04875rem;
  position: absolute;
  left: 22.125rem;
  top: 39.388125rem;
  overflow: visible;
}
.vector-130 {
  border-radius: 0rem;
  width: 1.0625rem;
  height: 0.9375rem;
  position: absolute;
  left: 12rem;
  top: 39.388125rem;
  overflow: visible;
}
.vector-131 {
  border-radius: 0rem;
  width: 1.0625rem;
  height: 0.9375rem;
  position: absolute;
  left: 6.625rem;
  top: 39.388125rem;
  overflow: visible;
}
.group-256 {
  width: 0.968125rem;
  height: 0.968125rem;
  position: absolute;
  left: 1rem;
  top: 39.485625rem;
  overflow: visible;
}
.group-1204147 {
  width: 1.131875rem;
  height: 1.0625rem;
  position: absolute;
  left: 17.375rem;
  top: 39.365rem;
  overflow: visible;
}
.div7 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 1.758125rem;
  top: 1.566rem;
  width: 1.885625rem;
  height: 1.086875rem;
}
.rectangle-174 {
  background: rgba(225, 162, 195, 0.21);
  border-radius: 1.875rem;
  width: 22.183125rem;
  height: 9.0775rem;
  position: absolute;
  left:0.990625rem ;
  top:12.4337rem ;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.13);
}
.rectangle-175 {
  background: rgba(225, 162, 195, 0.21);
  border-radius: 1.875rem;
  width: 22.183125rem;
  height: 9.0775rem;
  position: absolute;
  left:0.990625rem ;
  top:21.9912rem ;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.13);
}
.rectangle-176 {
  background: rgba(225, 162, 195, 0.21);
  border-radius: 1.875rem;
  width: 22.183125rem;
  height: 3.42rem;
  position: absolute;
  left:0.990625rem ;
  top:31.4844rem ;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.13);
}
.vector-133 {
  border-radius: 0rem;
  width: 0.351875rem;
  height: 0.735rem;
  position: absolute;
  left:0.83125rem ;
  top:1.75812rem ;
  overflow: visible;
}
.vector-134 {
  width: 0.38375rem;
  height: 0.67125rem;
  position: absolute;
  left:21.6713rem ;
  top:32.7631rem ;
  overflow: visible;
}
.div8 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:5.0825rem ;
  top:13.9044rem ;
  width: 2.940625rem;
  height: 0.895rem;
}
.div9 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:5.0825rem ;
  top:16.3975rem ;
  width: 2.940625rem;
  height: 0.926875rem;
}
.div10 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:5.0825rem ;
  top:18.9225rem ;
  width: 2.940625rem;
  height: 0.863125rem;
}
.div11 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:5.0825rem ;
  top:23.1419rem ;
  width: 2.940625rem;
  height: 0.895rem;
}
.div12 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:5.0825rem ;
  top:25.6031rem ;
  width: 2.940625rem;
  height: 0.895rem;
}
.app {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:5.17813rem ;
  top:28.0006rem ;
  width: 2.46125rem;
  height: 0.895rem;
}
.div13 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:5.17813rem ;
  top:32.635rem ;
  width: 1.661875rem;
  height: 0.895rem;
}
.vector-135 {
  width: 0.38375rem;
  height: 0.703125rem;
  position: absolute;
  left: 21.6713rem;
  top: 13.9044rem;
  overflow: visible;
}
.vector-136 {
  width: 0.38375rem;
  height: 0.67125rem;
  position: absolute;
  left:21.6713rem ;
  top:23.2375rem ;
  overflow: visible;
}
.vector-137 {
  width: 0.38375rem;
  height: 0.67125rem;
  position: absolute;
  left:21.6713rem ;
  top:16.5256rem ;
  overflow: visible;
}
.vector-138 {
  width: 0.38375rem;
  height: 0.703125rem;
  position: absolute;
  left:21.6713rem ;
  top:25.6988rem ;
  overflow: visible;
}
.vector-139 {
  width: 0.38375rem;
  height: 0.735rem;
  position: absolute;
  left:21.6713rem ;
  top:18.9869rem ;
  overflow: visible;
}
.vector-140 {
  width: 0.38375rem;
  height: 0.67125rem;
  position: absolute;
  left:21.6713rem ;
  top:28.2244rem ;
  overflow: visible;
}
._3-3 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left:3.64375rem ;
  top:18.8906rem ;
  object-fit: cover;
}
._1-1 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left:3.64375rem ;
  top:13.8725rem ;
  object-fit: cover;
}
._1 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left:3.64375rem ;
  top:16.3975rem ;
  object-fit: cover;
}
._12 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left:3.64375rem ;
  top:25.5713rem ;
  object-fit: cover;
}
._13 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left:3.64375rem ;
  top:23.11rem ;
  object-fit: cover;
}
.apps-1-1 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left:3.64375rem ;
  top:27.9681rem ;
  object-fit: cover;
}
._14 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left:3.64375rem ;
  top:32.6031rem ;
  object-fit: cover;
}
.div14 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:4.1875rem ;
  top:8.0525rem ;
  width: 8.75rem;
  height: 0.75rem;
}
.aiinni {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.8125rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:7.4rem ;
  top:3.51937rem ;
  width: 2.84625rem;
  height: 0.67125rem;
}
.ip {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:7.375rem ;
  top:4.6775rem ;
  width: 3.8125rem;
  height: 0.625rem;
}
._122 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:4.19375rem ;
  top:9.49938rem ;
  width: 1.950625rem;
  height: 0.54375rem;
}
._123 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:11.0044rem ;
  top:9.49938rem ;
  width: 1.950625rem;
  height: 0.54375rem;
}
._124 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left:17.56rem ;
  top:9.49938rem ;
  width: 1.950625rem;
  height: 0.54375rem;
}
