body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1924px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  display:flex;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  display:flex;
}
#u501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u502_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:385px;
  width:612px;
  height:46px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u502_img.disabled {
}
#u502.disabled {
}
#u503_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:238px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#AAAAAA;
}
#u503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u503_img.disabled {
}
#u503.disabled {
}
#u504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u504_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:46px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:447px;
  width:1000px;
  height:46px;
  display:flex;
  font-size:23px;
  color:#7F7F7F;
  text-align:center;
}
#u504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u504_img.disabled {
}
#u504.disabled {
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:84px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:154px;
  width:139px;
  height:84px;
  display:flex;
}
#u505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u506_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:478px;
  width:722px;
  height:46px;
  display:flex;
  font-size:23px;
  color:#7F7F7F;
  text-align:center;
}
#u506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u506_img.disabled {
}
#u506.disabled {
}
#u507_input {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u507_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:46px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:510px;
  width:696px;
  height:46px;
  display:flex;
  font-size:23px;
  color:#7F7F7F;
  text-align:center;
}
#u507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u507_img.disabled {
}
#u507.disabled {
}
#u508_input {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u508_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:46px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:574px;
  width:389px;
  height:46px;
  display:flex;
  font-size:23px;
  color:#7F7F7F;
  text-align:center;
}
#u508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u508_img.disabled {
}
#u508.disabled {
}
#u509_input {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u509_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#7F7F7F;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:542px;
  width:533px;
  height:46px;
  display:flex;
  font-size:23px;
  color:#7F7F7F;
  text-align:center;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_img.disabled {
}
#u509.disabled {
}
#u510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u510_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:284px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#AAAAAA;
  text-align:center;
}
#u510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u510_img.disabled {
}
#u510.disabled {
}
