body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1924px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  display:flex;
}
#u642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  display:flex;
}
#u643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u644_input {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u644_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:385px;
  width:612px;
  height:46px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u644_img.disabled {
}
#u644.disabled {
}
#u645_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u645_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:238px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u645_img.disabled {
}
#u645.disabled {
}
#u646_input {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u646_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:46px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:445px;
  width:902px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u646_img.disabled {
}
#u646.disabled {
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:84px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:154px;
  width:139px;
  height:84px;
  display:flex;
}
#u647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u648_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:478px;
  width:722px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u648_img.disabled {
}
#u648.disabled {
}
#u649_input {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u649_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:510px;
  width:722px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u649_img.disabled {
}
#u649.disabled {
}
#u650_input {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u650_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:46px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:574px;
  width:445px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u650_img.disabled {
}
#u650.disabled {
}
#u651_input {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u651_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:542px;
  width:533px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u651_img.disabled {
}
#u651.disabled {
}
#u652_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u652_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:284px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u652_img.disabled {
}
#u652.disabled {
}
