body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1924px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  display:flex;
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  display:flex;
}
#u719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u720_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:385px;
  width:612px;
  height:46px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u720_img.disabled {
}
#u720.disabled {
}
#u721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u721_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:238px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u721_img.disabled {
}
#u721.disabled {
}
#u722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u722_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:46px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:445px;
  width:1172px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u722_img.disabled {
}
#u722.disabled {
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:84px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:154px;
  width:139px;
  height:84px;
  display:flex;
}
#u723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u724_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:478px;
  width:722px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u724_img.disabled {
}
#u724.disabled {
}
#u725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u725_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:46px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:510px;
  width:696px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u725_img.disabled {
}
#u725.disabled {
}
#u726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u726_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:46px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:574px;
  width:347px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u726_img.disabled {
}
#u726.disabled {
}
#u727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u727_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:542px;
  width:533px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u727_img.disabled {
}
#u727.disabled {
}
#u728_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u728_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:284px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u728_img.disabled {
}
#u728.disabled {
}
