.content{
  position: absolute;
  width: 100%;
  top:100vh;
  left: 0;
  background-color: rgb(0, 0, 0);
}
.background {
  display: flex;
  
}
.background img{
  margin-top: 80px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.orientation{
  position: relative;
  width: 92.4498416%;
  top:50px;
  left: 3.64308342%;
}