.header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  min-width: 300px;
  height: 150px;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  transition: all 0.3s;
}
.nav-color-w {
  background-color: transparent;
}
.nav-color-b {
  background-color: white;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.nav-color-w a{
  color: white;
}
.nav-color-b a{
  color: black;
}
.header div,a,p{
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  transition: all 0.15s;
}
.logo{
  display: flex;
  padding-left: 40px;
  align-items: center;
}
.logo img{
  height: 30px;
}
.logo p{
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 0;
  font-size: 24px;
  font-family: 'Zen Dots';
  color: #9ABB1C;
}
.navigate{
  display: flex;
  padding-right: 40px;
  height: 100%;
}
.navigate a{
  text-decoration:none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
  font-size: 22px;
  font-family: 'Inter';
  font-weight: 600;
}
.navigate2{
  position: sticky;
  display: flex;
  height: 20px;
  top: 150px;
  background-color: #e6e2e2;
  z-index: 9;
  width: 100%;
}
.navigate2 a{
  text-decoration:none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
  font-family: 'Inter';
  color: #007BFF;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
.navigate-active{
  color: #CAFF01 !important;
}
.menu{
  display: none;
}
/* 以下适应不同的屏幕 */
@media (max-height: 1280px) {
  .header{
    height: 100px;
  }
  .navigate2{
    top: 80px;
  }
}
@media (max-height: 900px) {
  .header{
    height: 80px;
  
  .navigate2{
    top: 60px;
  }
}
@media (max-width: 1280px) {
  .logo{
    padding-left: 30px;
  }
  .logo p{
    font-size: 20px;
    padding-left: 10px;
  }
  .logo img{
    height: 35px;
  }
  .navigate{
    padding-right: 30px;
  }
  .navigate a{
    font-size: 20px;
    padding: 0 18px;
  }
}
@media (max-width: 900px) {
  .logo{
    padding-left: 20px;
  }
  .logo p{
    font-size: 20px;
  }
  .logo img{
    height: 30px;
  }
  .navigate{
    padding-right: 25px;
  }
  .navigate a{
    font-size: 16px;
    padding: 0 10px;
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  .logo{
    padding-left: 15px;
  }
  .logo img{
    height: 24px;
  }
  .navigate{
    display: none;
  }
  .menu{
    display: flex;
    height: 20px;
    padding: 0 20px;
    cursor:pointer;
    color: white;
  }
  .menu span{
    padding-left: 5px;
  }
  .error{
    display: none;
  }
}
}