body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1923px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1925px;
  height:894px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:1925px;
  height:894px;
  display:flex;
}
#u609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  display:flex;
}
#u610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u611_input {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u611_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:385px;
  width:612px;
  height:46px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u611_img.disabled {
}
#u611.disabled {
}
#u612_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u612_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:238px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u612_img.disabled {
}
#u612.disabled {
}
#u613_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:52px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u613_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:52px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:52px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:442px;
  width:1020px;
  height:52px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u613_img.disabled {
}
#u613.disabled {
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:84px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:154px;
  width:139px;
  height:84px;
  display:flex;
}
#u614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u615_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:478px;
  width:722px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u615_img.disabled {
}
#u615.disabled {
}
#u616_input {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u616_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:46px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:510px;
  width:696px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u616_img.disabled {
}
#u616.disabled {
}
#u617_input {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:74px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u617_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:74px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:74px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:560px;
  width:327px;
  height:74px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u617_img.disabled {
}
#u617.disabled {
}
#u618_input {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:72px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u618_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:72px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:72px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:529px;
  width:829px;
  height:72px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u618_img.disabled {
}
#u618.disabled {
}
#u619_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u619_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:284px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u619_img.disabled {
}
#u619.disabled {
}
