
.rectangle-186 {
  background: #63599d;
  border-radius: 2.125rem;
  width: 23.973125rem;
  height: 42.64rem;
  position: relative;
}

.rectangle-186 .rectangle-187 {
  border-radius: 1.875rem;
  width: 14.895rem;
  height: 11.7625rem;
  position: absolute;
  left: 8.215rem;
  top: 3.96375rem;
  object-fit: cover;
}

.rectangle-186 .div {
  width: 23.973125rem;
  height: 4.41125rem;
  position: static;
}

.rectangle-186 .rectangle-2 {
  background: #382f50;
  border-radius: 0rem 0rem 2.5rem 2.5rem;
  width: 23.973125rem;
  height: 4.41125rem;
  position: absolute;
  left: 0rem;
  top: 38.22875rem;
  box-shadow: 0rem 0.25rem 3.5625rem -0.6875rem rgba(90, 93, 95, 1);
}

.rectangle-186 .div5 {
  color: #aaa9b3;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 17rem;
  top: 40.434375rem;
  width: 2.30125rem;
  height: 0.67125rem;
}

.rectangle-186 .div6 {
  color: #aaa9b3;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.5rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 22rem;
  top: 40.434375rem;
  width: 1.214375rem;
  height: 0.67125rem;
}

.rectangle-186 .rectangle-188 {
  background: #5c7ada;
  border-radius: 2.125rem;
  width: 17.67625rem;
  height: 42.64rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
}

.rectangle-186 .group-257 {
  width: 0.694375rem;
  height: 1.029375rem;
  position: absolute;
  left: 22.160625rem;
  top: 39.388125rem;
  overflow: visible;
}

.rectangle-186 .group-1204148 {
  width: 1rem;
  height: 0.9375rem;
  position: absolute;
  left: 17.660625rem;
  top: 39.5rem;
  overflow: visible;
}
/* ************* */

.rectangle-186 .div7 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 2.078125rem;
  top: 2.30125rem;
  width: 3.06875rem;
  height: 1.086875rem;
}

.rectangle-186 .div8 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 20.285625rem;
  top: 2rem;
  width: 2.556875rem;
  height: 0.895rem;
}

.rectangle-186 .div9 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 3.8675rem;
  top: 5.369375rem;
  width: 1.27875rem;
  height: 0.895rem;
}

.rectangle-186 ._6 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 15.43875rem;
  top: 5.369375rem;
  width: 0.351875rem;
  height: 0.895rem;
}

.rectangle-186 .div10 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 3.8675rem;
  top: 7.8625rem;
  width: 1.27875rem;
  height: 0.895rem;
}

.rectangle-186 ._9 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 15.43875rem;
  top: 7.8625rem;
  width: 0.351875rem;
  height: 0.895rem;
}

.rectangle-186 .div11 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 3.8675rem;
  top: 10.355625rem;
  width: 1.27875rem;
  height: 0.895rem;
}

.rectangle-186 ._5 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 15.43875rem;
  top: 10.355625rem;
  width: 0.351875rem;
  height: 0.895rem;
}

.rectangle-186 .div12 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 3.8675rem;
  top: 12.84875rem;
  width: 1.918125rem;
  height: 0.895rem;
}

.rectangle-186 ._4 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 15.43875rem;
  top: 12.84875rem;
  width: 0.351875rem;
  height: 0.895rem;
}

.rectangle-186 .div13 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 3.8675rem;
  top: 15.341875rem;
  width: 1.27875rem;
  height: 0.895rem;
}

.rectangle-186 ._52 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 15.43875rem;
  top: 15.341875rem;
  width: 0.351875rem;
  height: 0.895rem;
}

.rectangle-186 .div14 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 3.8675rem;
  top: 17.835rem;
  width: 1.27875rem;
  height: 0.895rem;
}

.rectangle-186 ._0 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 15.43875rem;
  top: 17.835rem;
  width: 0.351875rem;
  height: 0.895rem;
}

.rectangle-186 .div15 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 3.8675rem;
  top: 20.328125rem;
  width: 1.27875rem;
  height: 0.895rem;
}

.rectangle-186 ._42 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 15.43875rem;
  top: 20.328125rem;
  width: 0.351875rem;
  height: 0.895rem;
}

.rectangle-186 .div16 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 3.8675rem;
  top: 22.82125rem;
  width: 1.27875rem;
  height: 0.895rem;
}

.rectangle-186 ._2 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 15.43875rem;
  top: 22.82125rem;
  width: 0.319375rem;
  height: 0.895rem;
}
/* *************** */

.rectangle-186 .div17 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 3.8675rem;
  top: 25.314375rem;
  width: 1.27875rem;
  height: 0.895rem;
}

.rectangle-186 ._3 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 15.43875rem;
  top: 25.314375rem;
  width: 0.319375rem;
  height: 0.895rem;
}

.rectangle-186 .rectangle-189 {
  border-radius: 1.875rem;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.0625rem;
  width: 4.730625rem;
  height: 1.885625rem;
  position: absolute;
  left: 1.246875rem;
  top: 1.885625rem;
}

.rectangle-186 .ellipse-49 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 3.51625rem;
  height: 3.51625rem;
  position: absolute;
  left: 19.210625rem;
  top: 32.346875rem;
}

.rectangle-186 .vector-151 {
  width: 1.678125rem;
  height: 1.72625rem;
  position: absolute;
  left: 20.1375rem;
  top: 33.241875rem;
  overflow: visible;
}

.rectangle-186 .rectangle-190 {
  background: #7d68a5;
  border-radius: 1.875rem;
  border-style: solid;
  border-color: #7d68a5;
  border-width: 0.0625rem;
  width: 15.6625rem;
  height: 1.885625rem;
  position: absolute;
  left: 1.246875rem;
  top: 37.716875rem;
  box-shadow: 0rem 0.5625rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

.rectangle-186 .div18 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 7rem;
  top: 38.22875rem;
  width: 0.639375rem;
  height: 0.895rem;
}

.rectangle-186 .div19 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 9.078125rem;
  top: 38.22875rem;
  width: 0.639375rem;
  height: 0.895rem;
}

.rectangle-186 .div20 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 11.155625rem;
  top: 38.22875rem;
  width: 0.639375rem;
  height: 0.895rem;
}

.rectangle-186 .div21 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 13.233125rem;
  top: 38.22875rem;
  width: 0.639375rem;
  height: 0.895rem;
}

.rectangle-186.rectangle-191 {
  background: #d9d9d9;
  border-radius: 1.875rem;
  border-style: solid;
  border-color: #f1f1f1;
  border-width: 0.0625rem;
  width: 3.51625rem;
  height: 1.40625rem;
  position: absolute;
  left: 1.630625rem;
  top: 37.94125rem;
}

.rectangle-186 .div22 {
  color: #282828;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 0.625rem;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  left: 2.653125rem;
  top: 38.22875rem;
  width: 1.27875rem;
  height: 0.895rem;
}

.rectangle-186 ._1 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left: 2.30125rem;
  top: 7.830625rem;
  object-fit: cover;
}

.rectangle-186 ._2-1 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left: 2.30125rem;
  top: 5.40125rem;
  object-fit: cover;
}

.rectangle-186 ._12 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left: 2.30125rem;
  top: 10.3875rem;
  object-fit: cover;
}

.rectangle-186 ._13 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left: 2.30125rem;
  top: 12.84875rem;
  object-fit: cover;
}

.rectangle-186 ._14 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left: 2.30125rem;
  top: 15.3425rem;
  object-fit: cover;
}

.rectangle-186 ._15 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left: 2.30125rem;
  top: 17.868125rem;
  object-fit: cover;
}
/* ********* */
.rectangle-186 ._16 {
  width: 1.620625rem;
  height: 0.95875rem;
  position: absolute;
  left: 2.981875rem;
  top: 20.360625rem;
  object-fit: cover;
}

.rectangle-186 ._17 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left: 2.30125rem;
  top: 25.282875rem;
  object-fit: cover;
}

.rectangle-186 ._18 {
  width: 0.95875rem;
  height: 0.95875rem;
  position: absolute;
  left: 2.30125rem;
  top: 22.789125rem;
  object-fit: cover;
}
