body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1924px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  display:flex;
}
#u653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1924px;
  height:894px;
  display:flex;
}
#u654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u655_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:46px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:385px;
  width:612px;
  height:46px;
  display:flex;
  font-size:30px;
  color:#FFFFFF;
}
#u655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u655_img.disabled {
}
#u655.disabled {
}
#u656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u656_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:238px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u656_img.disabled {
}
#u656.disabled {
}
#u657_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u657_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:46px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:445px;
  width:1078px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u657_img.disabled {
}
#u657.disabled {
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:84px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:154px;
  width:139px;
  height:84px;
  display:flex;
}
#u658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u659_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:478px;
  width:722px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u659_img.disabled {
}
#u659.disabled {
}
#u660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u660_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:46px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:510px;
  width:722px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u660_img.disabled {
}
#u660.disabled {
}
#u661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u661_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:23px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:46px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:542px;
  width:533px;
  height:46px;
  display:flex;
  font-size:23px;
  text-align:center;
}
#u661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u661_img.disabled {
}
#u661.disabled {
}
#u662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u662_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
  padding:3px 2px 3px 2px;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-decoration:none;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:46px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:284px;
  width:206px;
  height:46px;
  display:flex;
  font-family:'MS Reference Sans Serif Bold', 'MS Reference Sans Serif Normal', 'MS Reference Sans Serif';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:center;
}
#u662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u662_img.disabled {
}
#u662.disabled {
}
