.rectangle-1243 {
  background: #63599d;
  border-radius: 34px;
  width: 383.57px;
  height: 682.24px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.stylex {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 7px;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  top: 639px;
  width: 70px;
  height: 11px;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 13px;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  top: 617.8px;
  width: 180.53px;
  height: 18.92px;
}
.ellipse-394 {
  background: #ffffff;
  border-radius: 50%;
  width: 5.63px;
  height: 5.63px;
  position: absolute;
  left: 23%;
  top: 624px;
}
.ellipse-395 {
  background: #ffffff;
  border-radius: 50%;
  width: 5.63px;
  height: 5.63px;
  position: absolute;
  left: 73%;
  top: 624px;
}

.frame {
  width: 112.51px;
  height: 39.38px;
  position: absolute;
  top: 252px;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: -0.01%;
  height: 100.01%;
  overflow: visible;
}
.vector6 {
  height: auto;
  position: absolute;
  right: 17.86%;
  left: 63.11%;
  width: 19.03%;
  bottom: 23.83%;
  top: 17.67%;
  height: 58.5%;
  overflow: visible;
}
.rectangle-1245 {
  background: #7d68a5;
  border-radius: 48px;
  opacity: 0.5;
  width: 32.73px;
  height: 165.7px;
  position: absolute;
  top: 372.8px;
  transform: rotate(90deg) scale(1, 1);
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 16px;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  top: 444px;
  width: 76.71px;
  height: 21.99px;
}
.phone{
  color: #ffffff;
  text-align: left;
  font-family: "HindVadodara-Regular", sans-serif;
  font-size: 12px;
  line-height: 141.8%;
  font-weight: 400;
  position: absolute;
  top: 406px;
  width: 65.97px;
  height: 18.92px;
}