.main,
.main * {
  box-sizing: border-box;
}
.main {
  background: #ffffff;
  height: 129.0625rem;
  position: relative;
}
.div-mx-auto {
  width: 72.92%;
  height: 15.3%;
  position: absolute;
  right: 13.54%;
  left: 13.54%;
  bottom: 84.7%;
  top: 0%;
}
.confetti-1-svg {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  left: 19.199375rem;
  top: 13.199375rem;
  overflow: hidden;
}
.confetti-1-svg-fill {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-1-svg2 {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  left: calc(50% - 0.4375rem);
  top: calc(50% - 0.4375rem);
  overflow: visible;
}
.confetti-2-svg {
  width: 1.6875rem;
  height: 2.125rem;
  position: absolute;
  right: 15.599375rem;
  bottom: 7.8rem;
  overflow: hidden;
}
.confetti-2-svg-fill {
  width: 1.6875rem;
  height: 2.125rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-2-svg2 {
  width: 1.6875rem;
  height: 2.125rem;
  position: absolute;
  left: calc(50% - 0.84375rem);
  top: calc(50% - 1.0625rem);
  overflow: visible;
}
.confetti-3-svg {
  width: 2.5rem;
  height: 2.75rem;
  position: absolute;
  left: 10.8rem;
  top: 19.199375rem;
  overflow: hidden;
}
.confetti-3-svg-fill {
  width: 2.5rem;
  height: 2.75rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-3-svg2 {
  width: 2.5rem;
  height: 2.75rem;
  position: absolute;
  left: calc(50% - 1.25rem);
  top: calc(50% - 1.375rem);
  overflow: visible;
}
.confetti-4-svg {
  width: 3.5rem;
  height: 3.4375rem;
  position: absolute;
  left: 7.199375rem;
  top: 6.599375rem;
  overflow: hidden;
}
.confetti-4-svg-fill {
  width: 3.5rem;
  height: 3.4375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-4-svg2 {
  width: 3.5rem;
  height: 3.4375rem;
  position: absolute;
  left: calc(50% - 1.75rem);
  top: calc(50% - 1.71875rem);
  overflow: visible;
}
.confetti-5-svg {
  width: 1.6875rem;
  height: 1.9375rem;
  position: absolute;
  left: 18rem;
  bottom: 6rem;
  overflow: hidden;
}
.confetti-5-svg-fill {
  width: 1.6875rem;
  height: 1.9375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-5-svg2 {
  width: 1.6875rem;
  height: 1.9375rem;
  position: absolute;
  left: calc(50% - 0.84375rem);
  top: calc(50% - 0.96875rem);
  overflow: visible;
}
.confetti-6-svg {
  width: 2rem;
  height: 2.125rem;
  position: absolute;
  right: 19.199375rem;
  top: 6rem;
  overflow: hidden;
}
.confetti-6-svg-fill {
  width: 2rem;
  height: 2.125rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-6-svg2 {
  width: 2rem;
  height: 2.125rem;
  position: absolute;
  left: calc(50% - 1rem);
  top: calc(50% - 1.0625rem);
  overflow: visible;
}
.confetti-7-svg {
  width: 2.9375rem;
  height: 3.375rem;
  position: absolute;
  right: 0rem;
  bottom: 13.8rem;
  overflow: hidden;
}
.confetti-7-svg-fill {
  width: 2.9375rem;
  height: 3.375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-7-svg2 {
  width: 2.9375rem;
  height: 3.375rem;
  position: absolute;
  left: calc(50% - 1.46875rem);
  top: calc(50% - 1.6875rem);
  overflow: visible;
}
.confetti-8-svg {
  width: 1rem;
  height: 1.0625rem;
  position: absolute;
  right: 34.8rem;
  bottom: 9.599375rem;
  overflow: hidden;
}
.confetti-8-svg-fill {
  width: 1rem;
  height: 1.0625rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-8-svg2 {
  width: 1rem;
  height: 1.0625rem;
  position: absolute;
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.53125rem);
  overflow: visible;
}
.confetti-9-svg {
  width: 1.625rem;
  height: 1.6875rem;
  position: absolute;
  left: 33.599375rem;
  bottom: 8.399375rem;
  overflow: hidden;
}
.confetti-9-svg-fill {
  width: 1.625rem;
  height: 1.6875rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-9-svg2 {
  width: 1.625rem;
  height: 1.6875rem;
  position: absolute;
  left: calc(50% - 0.8125rem);
  top: calc(50% - 0.84375rem);
  overflow: visible;
}
.confetti-10-svg {
  width: 1.625rem;
  height: 1.6875rem;
  position: absolute;
  right: 13.199375rem;
  top: 16.8rem;
  overflow: hidden;
}
.confetti-10-svg-fill {
  width: 1.625rem;
  height: 1.6875rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-10-svg2 {
  width: 1.625rem;
  height: 1.6875rem;
  position: absolute;
  left: calc(50% - 0.8125rem);
  top: calc(50% - 0.84375rem);
  overflow: visible;
}
.confetti-11-svg {
  width: 1.75rem;
  height: 1.8125rem;
  position: absolute;
  right: 3.599375rem;
  top: 8.399375rem;
  overflow: hidden;
}
.confetti-11-svg-fill {
  width: 1.75rem;
  height: 1.8125rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.confetti-11-svg2 {
  width: 1.75rem;
  height: 1.8125rem;
  position: absolute;
  left: calc(50% - 0.875rem);
  top: calc(50% - 0.90625rem);
  overflow: visible;
}
.confetti-11-svg3 {
  width: 1.75rem;
  height: 1.8125rem;
  position: absolute;
  left: 0rem;
  top: 17.399375rem;
  overflow: hidden;
}
.confetti-11-svg4 {
  width: 1.75rem;
  height: 1.8125rem;
  position: absolute;
  left: calc(50% - 0.875rem);
  top: calc(50% - 0.90625rem);
  overflow: visible;
}
.div-container-xl {
  width: 80rem;
  height: 11.125rem;
  position: absolute;
  left: calc(50% - 40rem);
  top: 4rem;
}
.heading-1-partner-with-git-hub {
  color: #24292e;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 14.248125rem);
  top: 0rem;
  width: 28.90875rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grow-your-business-with-git-hub-whether-you-re-building-solutions-that-integrate-with-git-hub-or-services-that-help-customers-reach-their-full-potential-get-the-resources-and-technical-support-you-need {
  color: #586069;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.15234375rem;
  line-height: 1.875rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 21.46875rem);
  top: 5.5rem;
  width: 42.95rem;
  height: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-container-xl2 {
  width: 80rem;
  height: 107.3125rem;
  position: absolute;
  left: calc(50% - 40rem);
  top: 21.75rem;
}
.div-my-8 {
  background: rgba(255, 255, 255, 0);
  border-radius: 0.375rem;
  position: absolute;
  right: 41rem;
  left: 1rem;
  bottom: 72.5625rem;
  top: 0rem;
  box-shadow: 0rem 0.0625rem 0.9375rem 0rem rgba(27, 31, 35, 0.15);
}
.span-d-inline-block {
  background: #ffffff;
  border-radius: 5rem;
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: calc(50% - 5rem);
  top: -5rem;
  box-shadow: 0rem 0.0625rem 0.9375rem 0rem rgba(27, 31, 35, 0.15);
}
.services-and-partners-png {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  overflow: hidden;
  object-fit: cover;
}
.heading-2-services-and-channel {
  color: #24292e;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 13.175625rem);
  top: 3.64375rem;
  width: 26.363125rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-3-consult-resell-grow {
  color: #586069;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 6.60125rem);
  top: 13.625rem;
  width: 13.214375rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduce1{
  color: #6a737d;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.2109375rem;
  line-height: 1.875rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 15.205rem);
  top: 16.125rem;
  width: 30.421875rem;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  border-radius: 0.1875rem;
  border-style: solid;
  border-color: rgba(16, 116, 231, 0.5);
  border-width: 0.0625rem;
  width: 12.909375rem;
  height: 3.625rem;
  position: absolute;
  left: calc(50% - 6.455rem);
  top: calc(50% - -10.75rem);
}
.learn-more-and-apply {
  color: #1074e7;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 0.9296875rem;
  line-height: 1.5rem;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 4.8925rem);
  top: calc(50% - 0.78125rem);
  width: 9.796875rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-my-82 {
  background: rgba(255, 255, 255, 0);
  border-radius: 0.375rem;
  position: absolute;
  right: 1rem;
  left: 41rem;
  bottom: 72.5625rem;
  top: 0rem;
  box-shadow: 0rem 0.0625rem 0.9375rem 0rem rgba(27, 31, 35, 0.15);
}
.technology-partners-png {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  overflow: hidden;
  object-fit: cover;
}
.heading-2-technology {
  color: #24292e;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 7.091875rem);
  top: 3.88125rem;
  width: 14.19625rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-3-build-integrate-extend {
  color: #586069;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 7.501875rem);
  top: 15.5rem;
  width: 15.015625rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduce2{
  color: #6a737d;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.162109375rem;
  line-height: 1.875rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 14.66125rem);
  top: 15.9375rem;
  width: 29.33375rem;
  height: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamintro {
  color: #24292e;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 2.5rem;
  line-height: 3.75rem;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 15.62rem);
  top: 59.3125rem;
  width: 31.495625rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-git-hub-partner-program-gives-you-exclusive-benefits-to-scale-your-services {
  color: #586069;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.171875rem;
  line-height: 1.875rem;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 18.238125rem);
  top: 64.0625rem;
  width: 36.488125rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marketing-support-png {
  width: 6.375rem;
  height: 6.375rem;
  position: absolute;
  left: 6%;
  top: 73.3125rem;
  overflow: hidden;
  object-fit: cover;
}


.div-col-12 {
  background: #f1f8ff;
  border-radius: 0.1875rem;
  width: 58.5rem;
  position: absolute;
  right: 1rem;
  bottom: 55rem;
  top: 41.75rem;
}
.heading-3-partner-with-git-hub {
  color: #586069;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  position: absolute;
  left: 3rem;
  top: 1.5rem;
  width: 12.99rem;
  height: 1.3125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-2-work-with-one-of-our-official-partners-to-give-your-team-the {
  color: #24292e;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.23046875rem;
  line-height: 1.875rem;
  font-weight: 600;
  position: absolute;
  left: 3rem;
  top: 4.3125rem;
  width: 45.063125rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.octocat-bug-png {
  width: 15.1875rem;
  height: 11.9375rem;
  position: absolute;
  left: 42.6875rem;
  top: -0.5rem;
  overflow: hidden;
  object-fit: cover;
}
.div-dot-bg-big {
  width: 23.75rem;
  height: 9.375rem;
  position: absolute;
  left: 1.25rem;
  top: 43rem;
}
.dots-large-svg-fill {
  width: 23.75rem;
  height: 9.375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.dots-large-svg {
  width: 4.375rem;
  height: 4.375rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  overflow: visible;
}
h3{
  width: 60px;
  height: 30px;
}
#person1 {
  position: absolute;
  left: 5%;
  top: 80.1875rem;
  width: 90%;
  height: 10.25rem;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
  /* background-color: aquamarine; */
}
.personname p{
  color: #24292e;

  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
}
.personwork{
  margin-top: 10px;
  color: #586069;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
}
.personintro {
  color: #586069;
  margin-top: 10px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
}

#person2 {
  position: absolute;
  left: 5%;
  top: 95.1875rem;
  width: 90%;
  height: 10.25rem;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
  /* background-color: aquamarine; */
}

#person3 {
  position: absolute;
  left: 5%;
  top: 110.1875rem;
  width: 90%;
  height: 10.25rem;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
  /* background-color: aquamarine; */
}

#person4 {
  position: absolute;
  left: 5%;
  top: 125.1875rem;
  width: 90%;
  height: 10.25rem;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
  /* background-color: aquamarine; */
}

#person5 {
  position: absolute;
  left: 5%;
  top: 140.1875rem;
  width: 90%;
  height: 10.25rem;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
  /* background-color: aquamarine; */
}

#person6 {
  position: absolute;
  left: 5%;
  top: 155.1875rem;
  width: 90%;
  height: 30.25rem;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  flex-direction: column;
  background-color: none;
  
}

.edit {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  color: #ffffff;
  left: 45%;
  top: 190.1875rem;
  width: 8%;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(68, 41, 217);
  border-radius: 5px;
}

.editover {

  cursor: pointer;
  font-size: 20px;
  position: absolute;
  color: #ffffff;
  left: 45%;
  top: 190.1875rem;
  width: 7%;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 228, 74);
  border-radius: 5px;
  display: none;
}