body{
    background-image: url(../Img/Hongtao.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 2080px;
    width: 100vw;
    overflow-x: hidden;
}
/* 导航 */
.page_head{
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
    height: 108px;
    background-color: rgba(237, 233, 222, 90%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 35);
    background-image: url("Img/.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#page_head_h1{
    color: rgba(254,253,243, 80%);
    font-size: 120px;
    position: absolute;
    left: 50%;
    top: 40%;
    border-bottom: 3px solid rgba(255, 255, 255, 75%);
}

#page_head_p{
    color: rgba(186,182,133,100);
    font-size: 24px;
    position: absolute;
    left: 51%;
    top: 60%;
}

.nav .nav_p{
    margin-top: 0px;
    margin-left: 60px;
    color: rgba(176, 173, 156, 100%);
    font-size: 30px;
    font-weight: bold;
}
.w{
    width: 100%;
    margin: auto;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
}

.nav ul li img{
    margin-top: -10px;
    float: left;
}

.header{
    height: 50px;
    margin: auto;
}

.logo{
    float: left;
    margin-left: 80px;
    margin-top: 25px;
    width: 198px;
    height: 65px;
}

.nav{
    float: left;
    position: relative;
    left: 10%;
    margin-top: 28px;
    margin-left: 0;
    width: 60%;
}

.nav ul li{
    float: left;
    margin: 0 6%;
}

.nav ul li a{
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    color: black;
}

.nav ul li a:hover{
    border-bottom: 3px solid #33bae7;
}

.search{
    position: relative;
    right: 8%;
    float: left;
    width: 240px;
    height: 42px;
    border: solid;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 6%;
}

.search input{
    float: left;
    width: 180px;
    height: 40px;
    border: 1px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0);
}

.search button{
    float: left;
    width: 40px;
    height: 42px;
    border: 1px;
    background: url(Img/search_icon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

/* main */
#dragon{
    display: block;
    animation: rotate 12s linear infinite;
    position: absolute;
    top: 60px;
    left: 200px;
    width: 600px;
    height: 600px;
    height: auto;
}

@keyframes rotate{
	0%{
		transform: rotateZ(0deg);/*从0度开始*/
	}
	100%{
		transform: rotateZ(360deg);/*360度结束*/
	}
}
#Name{
    font-family: 华文楷体;
    font-size: 54px;
    position: absolute;
    top: 810px;
    left: 380px;
    color: #273c33;
}
.text{
    position: absolute;
    top: 940px;
    left: 250px;
    width: 1200px;
}
.solo{
    margin-top: 0 !important ;
}
.text h1{
    font-family: 华文楷体 ;
    font-size: 40px;
    margin-top: 40px;
    color: #273c33;
}
.text p{
    font-size: 32px;
    font-family: 华文楷体;
    letter-spacing:4px;
    color: #273c33;
}
#thePic{
    position: absolute;
    top: 245px;
    left: 380px;
    width: 300px !important;
    height: 300px !important;
    height: auto;
}
.poem{
    position: absolute;
    top: 245px;
    right: 380px;
}
.poem *{
    text-align: center;
}
.poem p{
    text-align: center;
    width: 25px;
}
#return{
    height: 10%;
    position: absolute;
    right: 650px;
    bottom: -1060px;
    transition: 0.5s;
}
#return:hover{
    scale: 1.05;
}